<section class='flight'>
  <form class='search-flight'>
    From: &nbsp;&nbsp;
    <input type="text" id='from-airport' placeholder='City, State' value='<%= @trip.from_airport %>'></input>
     <!-- Drop down to select airport -->
    To: &nbsp; &nbsp; &nbsp;
    <input type="text" id='to-airport' value='<%= @festival.location %>'></input><br/>

    Depart:
    <input type="text" id='depart-date' value='<%= @trip.start_date %>'
    placeholder='yyyy-mm-dd'</input>
    Return:
    <input type="text" id='return-date' value='<%= @trip.end_date %>'
    placeholder='yyyy-mm-dd'></input><br/>

    <button id='search-flight'>Search flights</button>
  </form>

  <form class="flight-result">
    <textarea class='result'
    placeholder="Paste Kayak flight here. Ex:
    $338
    KAYAK
    Select

    Frontier
    5:15p LGA 8:53p MIA 3h 38m nonstop
    1:22p MIA 4:30p LGA 3h 08m nonstop"></textarea>
    <button>Save flight</button>
  </form>

  <button class='flight continue-btn' data-tab='hotel'>
    <a href="#hotel">Continue</a>
  </button>
</section>

<script type="text/javascript">
  flightRouter = new RaveRepeat.Routers.Flights();
</script>
