<section class='flight'>
  <form class='search-flight'>
    From: &nbsp;&nbsp;
    <input type="text" id='from-airport' placeholder='City, State' value='<%= @trip.from_airport %>'></input>
     <!-- Drop down to select airport -->
    To: &nbsp; &nbsp; &nbsp;
    <input type="text" id='to-airport' value='<%= @festival.location %>'></input><br/>

    Depart:
    <input type="text" id='depart-date' value='<%= convert_date(@trip.start_date) %>' placeholder='mm/dd/yyyy'</input>
    Return:
    <input type="text" id='return-date' value='<%= convert_date(@trip.end_date) %>' placeholder='mm/dd/yyyy'></input><br/>

  <button id='search-flight'>Search on Kayak</button>
  </form>

  <form class="view-flights">
    <input class='result-url' type='text' placeholder="Paste your Kayak search result url here"></input>
    <button id='view-flights'>View flights</button>
  </form>

  <button class='flight continue-btn'>
    <a href="#hotel">Continue</a>
  </button>

  <div class="flight-results"></div>

  <button class='flight continue-btn'>
    <a href="#hotel">Continue</a>
  </button>
</section>
