<section class='itinerary'>
  <% if @trip.flights.length > 0 %>
    <h2>Trip details:</h2>
    <div class="current-flight"></div>
  <% end %>

  <div class="lineup">
    <h2>Dream lineup:</h2>
    <ul class='own'></ul>
  </div>
</section>
