<section class='itinerary'>
  <% if @trip.flights.length > 0 %>
    <h2>Trip details:</h2>
    <div class="current-flight"></div>
  <% end %>

  <div class="lineup">
    <h2>Dream lineup:</h2>
    <ul class='own'></ul>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    var artists = new RaveRepeat.Collections.Artists({
          el: $('.lineup ul.own')
        }),
        currentLineup = new RaveRepeat.Views.ArtistsView({
          collection: artists
        });

    artists.url = '/trips/'+tripId;
    artists.fetch({async: false});
  });
</script>
