<section class='lineup'>
  <p>Customize your own lineup then click save.</p>

  <h2>Dream lineup:</h2>
  <ul class='own'></ul>

  <h3>Official lineup</h3>
  <ul class='official'></ul>

  <button class='lineup continue-btn' data-tab='itinerary'>
    <a href="#itinerary">Save and continue</a>
  </button>
</section>
