<table>
  <tr>
    <td>
      <span class='price'>
        <%= price %>
      </span>
    </td>
  </tr>

  <tr>
    <td>
    Depart:
    </td>
    <td class='leg1'>
      <%= leg1 %>
    </td>
  <tr>

  <tr>
    <td>
      Return:
    </td>
    <td class='leg2'>
      <%= leg2 %>
    </td>
  </tr>

  <tr>
    <td colspan='2'>
      <span class='delete-flight'>
        <i class="fa fa-minus-circle"></i> Delete
      </span>
    <td>
  </tr>
<table>
