<h1 class='logo'>
  Rave/Repeat
  <p>The comprehensive trip planner for your next EDM festival</p>
</h1>


<div class="welcome">
  <h2>Hi Raver,</h2>

  <p>
    <i class="fa fa-twitter"></i>
    <%= link_to "Sign in with Twitter", '/auth/twitter' %>
  </p>

  <p>
    <i class="fa fa-facebook"></i>
    <%= link_to "Sign in with Facebook", '/auth/facebook' %>
  </p>

</div>
