<div class="background"></div>

<%= render 'layouts/nav' %>

<div class="festival-wrapper">
  <h3>See who's going to:</h3>

  <% @festivals.each do |festival| %>
    <div class="festival" data='<%= festival.id %>'>
      <h2>
        <%= festival.name %> <sup >VIEW</sup>
      </h2>

      <ul class="ravers"></ul>
    </div>
  <% end %>

</div>
