/*
 *= require jquery.ui.all
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body {
  font-family: Helvetica;
  margin: 0;
}

.background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url('bg.jpg');
  background-size: cover;
  opacity: .75;
}

.wrapper {
  overflow: auto;
}

/* TRIP EDIT */
p {
  margin: .1em 0;
}

article {
  margin: .6em 2em;
  display: inline-block;
}

.hidden {
  display: none;
}

.trip {
  list-style-type: none;
  padding-left: 0;
}

.trip li {
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
}

/* LINEUP */
.official, .own {
  width: 45%;
  margin-left: 4%;
  float: left;
}

.official, .own {
  list-style-type: none;
  padding-left: 0;
}

.own {
  min-height: 450px;
}

.ui-draggable:hover {
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}
