/*
 *= require jquery.ui.all
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body {
  font-family: Helvetica;
}


/* TRIP EDIT */
p {
  margin: .1em 0;
}

article {
  margin: .6em 2em;
  display: inline-block;
}

.hidden {
  display: none;
}

/* LINEUP */
.official, .own {
  width: 45%;
  margin-left: 4%;
  float: left;
}

.official, .own {
  list-style-type: none;
  padding-left: 0;
}

.own {
  min-height: 450px;
}

.ui-draggable:hover {
  cursor: pointer;
}
