@import 'variables';

section.flight {
  width: 65%;
  min-width: 600px;
  height: 100%;
  font-family: $hammersmith;
}

/* Flight search form */
.search-flight {
  width: 33em;
  margin: 1em auto;
  font-size: 1.2em;

  input[type='text'] {
    width: 11em;
    margin: 0 1em 0 0;
    padding: 3px;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: $mont;
    font-size: 1em;
    color: #666;
    background-color: #f5f5f5;
    &:hover {
      background-color: #fff;
    }
  }

  #search-flight {
    margin: 2em auto 0 auto;
    display: block;
    @include button-style;
  }
}


.view-flights {
  text-align: center;
  margin: 2em 0;
  input[type='text'] {
    width: 25em;
    font-family: $mont;
    padding: .45em;
    border: 1px solid #ccc;
  }

  #view-flights {
    @include button-green;
  }
}

/* Flight result list */
.flight-results {
  width: 650px;
  margin: 0 auto 1em auto;
  article {
    margin: 1em 2em 0 0;
  }
  a {
    color: $light-orange;
    &:hover {
      color: $text-color;
    }
  }

  .save-flight, .saved {
    color: $lime-green;
    &:hover {
      color: $neon-green;
    }
  }
  .delete-flight {
    display: none;
  }
}

.delete-flight, .save-flight {
  &:hover {
    cursor: pointer;
  }
}

.current-flight .saved, .flight-results .saved {
  display: none;
}
