@import 'variables';

section.flight {
  width: 65%;
  font-family: $hammersmith;
}

.search-flight {
  width: 550px;
  margin: 1em;
  font-size: 1.2em;
  float: left;
  input[type='text'] {
    width: 9em;
    margin: 0 .6em 0 0;
    padding: 3px;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: $mont;
    font-size: 1em;
    color: #666;
    background-color: #f5f5f5;
    &:hover {
      background-color: #fff;
    }
  }
}

#search-flight {
  float: left;
  margin: 3em 0;
  @include button-green;
}

.view-flights {
  text-align: center;
  margin: 2em 0;
  input[type='text'] {
    width: 20em;
    font-family: $mont;
    padding: .45em;
    border: 0;
  }
  #view-flights {
    &:hover {
      background-color: #ebebeb;
    }
  }
}

.flight-results {
  width: 650px;
  margin: 0 auto;
  article {
    margin: 1em 2em 0 0;
  }
  a {
    color: $light-orange;
    &:hover {
      color: $text-color;
    }
  }
  input[type='checkbox'] {
    margin-left: 2em;
  }
}
