@import 'variables';

section.flight {
  width: 65%;
  min-width: 600px;
  height: 100%;
  font-family: $hammersmith;
}

/* Flight search form */
.search-flight {
  width: 33em;
  margin: 1em auto;
  font-size: 1.2em;

  input[type='text'] {
    width: 11em;
    margin: 0 1em 0 0;
    padding: 3px;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: $mont;
    font-size: 1em;
    color: #666;
    background-color: #f5f5f5;
    &:hover {
      background-color: #fff;
    }
  }

  button { /* Search flight */
    margin: 1em 2em 0 auto;
    display: block;
    @include button-style;
    &:hover {
      background-color: $light-grey;
    }
  }
}


.flight-result {
  text-align: center;
  margin: 2em 0;
  textarea {
    width: 25em;
    height: 10em;
    font-family: $mont;
    padding: .45em;
    border: 1px solid #ccc;
  }

  button {
    @include button-green;
  }
}

.flight.continue-btn {
  display: none;
  &.active {
    display: block;
  }
}
