@import 'variables';

.player {
  width: 25%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(255,255,255,.45);
  overflow: auto;
}

.music-player {
  height: 450px;
  margin: 7em 1em 0 1em;
}

.control {
  text-align: center;
}

.prev, .next {
  margin: 0 .3em;
  font-family: $mont;
  @include button-style;
  background-color: transparent;
  &:hover {
    color: $light-orange;
  }
}
