@import 'variables';

.raver-wrapper,
.festival-wrapper {
  width: 700px;
  min-height: 350px;
  margin: 4em auto 2.5em auto;
  padding: 2em 1em;
  background-color: rgba(255,255,255,.85);
  border-radius: 10px;
}

.raver-wrapper {
  .raver {  /*mini nav*/
    float: right;
    h3 {
      margin: .2em 0;
      @include menu-style;
    }
  }

  h2 {
    font-size: 1.8em;
    color: $blood-orange;
    margin: 1.2em 0 .5em 1em;
  }
}

.selected {
  color: $lime-green;
}

.new-trip {
  margin: 5em auto 2em auto;
  width: 350px;
  text-align: center;
  select {
    font-family: $hammersmith;
    font-size: 1.2em;
    color: $text-color;
    @include hover-style;
  }
  input[type='submit'] {
    @include button-style;
    @include button-orange;
    margin: 1.5em;
  }
}

.trips {
  margin: 2em auto 2em auto;
  width: 85%;
  font-size: 1em;
  font-family: $mont;
  h3 {
    margin: .2em 0 .6em 0;
  }
  article {
    margin: 1em 0 4em 0;
  }
  button {
    @include button-style;
    @include button-orange;
    float: right;
    margin: .8em 3.5em 0 0;
  }
}

/* TRIP LIST */
.trips .upcoming .year {
  display: none;
}

.trips .past .details {
  display: none;
}
