@import 'variables';

.raver-wrapper,
.festival-wrapper {
  width: 700px;
  min-height: 350px;
  margin: 4em auto 2.5em auto;
  padding: 2em 1em;
  background-color: rgba(255,255,255,.85);
  border-radius: 10px;
}

.raver-wrapper {
  .raver {  /*mini nav*/
    width: 100%;
    text-align: right;

    h3 {
      margin: .2em 0;
      @include menu-style;
    }
  }

  h1 {
    font-size: 1.8em;
    color: $blood-orange;
    margin: .3em 0 .5em 1em;
  }
}

nav.raver .current,
.selected {
  color: $lime-green;
}

.new-trip {
  margin: 5em auto 2em auto;
  width: 350px;
  text-align: center;
  h3 {
    margin: 0 0 .8em 0;
  }

  select {
    font-family: $hammersmith;
    font-size: 1.2em;
    color: $text-color;
    @include hover-style;
  }

  input[type='submit'] {
    @include button-style;
    @include button-orange;
    margin: 1.5em;
  }
}

/* TRIP LIST */
.trips {
  margin: 2em auto 2em auto;
  width: 85%;
  font-size: 1em;
  font-family: $mont;

  /* Trip name */
  h3 {
    font-family: $hammersmith;
  }

  article {
    margin: .6em 0 1.4em 0;
    overflow: auto;
  }
}

.title {
  width: 100%;
  td:first-child {
    width: 50%;
  }
}

.details table {
  width: 100%;
  td:first-child {
    width: 6em;
  }
  tr {
    padding: 0 0 .3em 0;
  }
}

/* Past trips */
.trips {
  h2.past {
    font-size: 1.3em;
    color: $light-text;
    margin: 0;
  }

  .past article {
    margin: .6em 0;
  }

  .past h3 {
    font-size: 1.05em;
    font-style: italic;
    color: $light-text;
  }
}

.trips .past {
  button {
    @include button-style;
    @include button-orange;
    float: right;
    margin: .8em 2em 0 0;
  }
}

.trips .past {
  .details {
    display: none;
  }

  .expand {
    font-family: $hammersmith;
    font-size: .8em;
    text-transform: uppercase;
    color: $light-lime;
    &:hover {
      cursor: pointer;
    }
  }
}


/* Upcoming trips */
.trips .upcoming {
  .actions {
    font-family: 'Helvetica';
    color: $blood-orange;
  }

  form.edit-trip {
    display: inline;
  }

  button {
    background: transparent;
    outline: 0;
    border: none;
    font-family: $mont;
    font-size: 1em;
    color: $blood-orange;
    &:hover {
      cursor: pointer;
      color: $text-color;
    }
  }
}

.trips .upcoming {
  .year, .expand {
    display: none;
  }
}

/* Confirm delete */
.modal.delete-trip {
  display: none;
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 30%;
  width: 40%;
  width: 400px;
  background: #fff;
  font-size: 1.2em;
  padding: 1em;
  text-align: center;
  border: 1px solid #ccc;

  p {
    margin: 1.5em 0 2em 0;
  }
  .fa-times {
    float: right;
    margin: -.4em -.1em 0 0;
  }

  .confirm, .cancel {
    @include button-style;
    float: right;
    margin: 0 .5em 0 0;
  }

  .confirm {
    @include button-orange;
  }

  .cancel {
    @include button-green;
  }
}

