@import 'variables';

/* LINEUP */
.show .lineup {
  p {
    font-family: 'Helvetica';
    font-size: 1.2em;
  }
  h2, h3 {
    margin: 10px 0 15px 0;
  }

  i { cursor: pointer; }

  .own .fa-times { visibility: hidden; }
  &.current .own .fa-times { visibility: visible; }
}

.official, .own {
  width: 45%;
  margin-left: 4%;
  float: left;
  font-size: 1.2em;
  @include menu-list;
}

.own {
  min-height: 450px;
}

/* States of artist li */
.official .artist {
  .fa-times { display: none; }
}

.own .artist {
  .fa-plus { display: none; }
}


/* ITINERARY */
.itinerary {
  h2 {
    margin: 0;
  }
  #share {
    @include button-orange;
  }
}

.current-flight,
.current-lineup {
  width: 65%;
  min-width: 650px;
  font-size: 1.1em;
}

.current-lineup {
  margin: 1.5em 0;
  h3 {
    margin: 1em 0;
  }
  span {
    margin: .5em .8em;
  }
}

.trip-wrapper .show {
  h2 {
    color: $light-orange;
  }
}

/* Flights */
.current-flight {
  overflow: auto;

  .flight {
    width: 100%;
    margin: 1em 0 0 0;
    overflow: auto;
  }

  .buy, .save-flight {
    display: none;
  }
}

.current-flight .flight table {
  td:first-child {
    width: 4em;
  }

  .delete-flight {
    float: right;
    color: $blood-orange;
    &:hover {
      color: $light-orange;
    }
  }
}
