@import 'variables';

/* LINEUP */
.lineup {
  width: 65%;
  p {
    font-family: 'Helvetica';
    font-size: 1.2em;
  }
  h2, h3 {
    margin: 10px 0 15px 0;
  }
}

.official, .own {
  width: 45%;
  margin-left: 4%;
  float: left;
  font-size: 1.2em;
  @include menu-list;
}

.own {
  min-height: 450px;
}

.ui-draggable, i {
  @include hover-style;
}

/* ITINERARY */
.itinerary {
  h2 {
    margin: 0;
  }
  #share {
    @include button-orange;
  }
}

.current-flight,
.current-lineup {
  width: 65%;
  min-width: 650px;
  font-size: 1.1em;
}

.current-flight {
  overflow: auto;
  article {
    margin: 1em 0 0 0;
    overflow: auto;
  }

  h4 {
    margin: 0 0 .5em 0;
  }

  .delete-flight {
    float: right;
    margin: 1em 28% 0 0;
  }
}

.current-lineup {
  margin: 1.5em 0;
  h3 {
    margin: 1em 0;
  }
  span {
    margin: .5em .8em;
  }
}

.trip-wrapper .show {
  h2 {
    color: $light-orange;
  }
}
