@import 'variables';

article {
  margin: .6em 2em;
  display: inline-block;
}

.hidden {
  display: none;
}

.trip li {
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
}

.trip-menu {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1.2em;
  color: $lime-green;
  @include menu-list;

  > li {
    display: inline-block;
    margin-right: .8em;
    &:hover {
      color: $neon-green;
      cursor: pointer;
    }
  }
}


/* LINEUP */
.official, .own {
  width: 45%;
  margin-left: 4%;
  float: left;
}

.official, .own {
  list-style-type: none;
  padding-left: 0;
}

.own {
  min-height: 450px;
}

.ui-draggable:hover {
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}
