$lime-green: #32CD32;
$neon-green: #39FF14;
$blood-orange: #fe4b03;

@mixin button-style {
  padding: .35em .2em .3em .2em;
  border-radius: 5px;
  border: 0;
  outline: 0;
  &:hover {
    cursor: pointer;
  }
}

@mixin button-green {
  background-color: $lime-green;
  &:hover {
    background-color: $neon-green;
  }
  color: #fff;
}

@mixin menu-list {
  list-style-type: none;
  padding-left: 0;
}
