@import 'variables';

h1.logo {
  font-size: 6em;
  color: rgba(255,255,255,.9);
  text-align: center;

  p {
    font-size: 0.22em;
  }
}

.welcome {
  width: 350px;
  margin: 6% auto;
  text-align: center;

  p {
    width: 12em;
    margin: .5em auto;
    ;
    font-size: 1.2em;
    color: #fff;
    background-color: $lime-green;
    @include button-style;

  }
  p:hover {
    background-color: $neon-green;
    a { color: #fff; }
  }
  a {
    color: #fff;
  }
}

/* NAV BAR */
.menu {
  width: auto;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  margin: 0;
  @include menu-list;
  font-family: $mont;
  color: #fff;
  background-color: rgba(0,0,0,.4);
  text-align: center;

  > li {
    display: inline-block;
    margin: .5em .5em .5em 0;
    &:first-child {
      margin-left: .5em;
    }
  }

  a {
    color: #fff;
    &:hover {
      color: $neon-green;
    }
  }
}
