<div class="modal delete-trip">
  <i class="fa fa-times"></i>

  <p>Are you sure you want to delete this trip?</p>
  <button class='confirm'>Delete</button>
  <button class='cancel'>Don't delete</button>
</div>
