<div class="background">

<div class="raver-wrapper">
  <%= render 'layouts/nav' %>
  <%= render 'nav' %>

  <h1>Hi <%= @raver.name %></h1>
  <%= render 'trip_new' %>

  <section class='trips'>
    <h2 class='past'>Past trips:</h2>
    <div class='past'></div>

    <h2 class='upcoming'>Upcoming trips:</h2>
    <div class='upcoming'></div>
  </section>

</div> <!-- wrapper -->

</div> <!-- background -->

<script>
  if ($('.trips .upcoming').children().html() === '') {
    $('.trips').append('You currently don\'t have any trip planned.');
  }

  setTimeout(function() {
    _.each($('.trips div.past'), function(pastTrip) {
      var details = $(pastTrip).find('.details');
      var actions = $(pastTrip).find('.actions');
      actions.appendTo(details);
    });
  }, 300);
</script>
