<div class="background">&nbsp;</div>

<div class="raver-wrapper">
  <% if @raver.trips.length == 0 %>
    <nav class="raver">
      <h3 class='selected new-rave'>Plan new rave</h3>
      <h3 class='current-raves'>Current raves</h3>
    </nav>
    <div class="clear"></div>
  <% else %>
    <nav class="raver">
      <h3 class='selected current-raves'>Current raves</h3>
      <h3 class='new-rave'>Plan new rave</h3>
    </nav>
    <div class="clear"></div>
  <% end %>

<h2>Hi <%= @raver.name %></h2>
  <%= render 'layouts/trip' %>

  <section class='current-trips'>
    <h3>Current trips:</h3>
    <div></div>
  </section>




</div> <!-- wrapper -->
