  <form class='search-flight'>
    From: &nbsp;&nbsp;
    <input type="text" id='from-airport' placeholder='City or airport code' value='<%= @trip.from_airport %>'></input>
     <!-- Drop down to select airport -->
    To: &nbsp; &nbsp; &nbsp;
    <input type="text" id='to-airport' value='<%= @trip.to_airport %>'></input><br/>

    Depart:
    <input type="text" id='depart-date' value='<%= @trip.start_date %>'></input>
    Return:
    <input type="text" id='return-date' value='<%= @trip.end_date %>'></input><br/>
  </form>

  <button id='search-flight'>Search on Kayak</button>

  <form class="view-flights">
    <input class='result-url' type='text' placeholder="Paste your Kayak search result url here"></input>
    <button id='view-flights'>View flights</button>
  </form>

  <div class="flight-results"></div>
