<div class="player">

  <iframe width="100%" class="music-player" scrolling="no" frameborder="no" src=""></iframe>

  <div class="control">
    <button class='prev'>
      <i class="fa fa-angle-double-left"></i> Prev
    </button>

    <button class='next'>
      Next <i class="fa fa-angle-double-right"></i>
    </button>
  </div>

</div>


