<ul class="menu">
  <li class=''>
    <%= link_to "Your raves", raver_path(current_raver.id) %> &nbsp;/
  </li>
  <li class=''><%= link_to "Log out", logout_path %> &nbsp;/
  </li>
  <li class=''><%= link_to "Who's going", festivals_path %>
  </li>
</ul>




