<nav class="menu">
  <ul>
    <li class='new-trip'>New rave</li>
  </ul>

<script>
  $(function() {
    playMusic();
    widgetControl();
  });
</script>

<iframe width="100%" class="music-player" scrolling="no" frameborder="no" src=""></iframe>

<div class="control">
  <button class='prev'>
    <i class="fa fa-angle-double-left"></i> Prev
  </button>

  <button class='next'>
    Next <i class="fa fa-angle-double-right"></i>
  </button>
</div>


</nav>




